
* {
    box-sizing: border-box;
}

body{
    
    margin: 0;
    font-family: sans-serif;
    padding: 5px;
    margin: 0 auto;
    width: 85%;
    background: var(--cblanco);
    display: grid;
}
.container{
    width: 100%;
    margin: auto;
    display: block;
    margin: auto;
    border: solid 5px var(--cnegro);
    background: var(--celeste)
    
}

.img{
    display: block;
    margin: auto;
    justify-content: center;
    border-radius: 5px;
    width: 200px;
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    cursor:pointer;
    border: solid;
    
}
.img:hover{
   
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px var(--error);
    -webkit-box-shadow: 0px 0px 15px 15px var(--azul );
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}




:root {
    --cfondo: rgb(207, 211, 212);
    --cfondoForm1: rgba(1, 80, 88, 0.39);
    --cfondoForm2: rgb(129, 193, 202);
    --cnegro: black;
    --ctexto: rgb(14, 81, 88);
    --ctextoDark: rgb(1, 35, 39);
    --cblanco: white;
    --error: rgb(184, 31, 31);
    --lila: rgb(169, 166, 231);
    --turqueza: rgb(12, 122, 122);
    --celeste: rgb(150, 219, 240);
    --verde:rgb(44, 179, 11);
    --azul: rgba(40,65,120);
}   

.todo{
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    border: solid 5px var(--azul);
    width: 1000px;
    margin-inline: 63px;
    font-size: 20px;
     
}

legend{
    display: block;
    margin: auto;
    border: solid 5px var(--turqueza);
    padding: 5px;
    font-weight: bold;
    background: var(--cblanco);
    border-radius: 18px;
}
legend:hover{
    transform: scale3d(0.8);
    -ms-transform: scale3d(0.8);
    -webkit-transform: scale(1);
	transform: scale(1.1);
    color:var(--celeste);
}
.todo:hover{
    
        transform: scale3d(0.8);
        -ms-transform: scale3d(0.8);
        -webkit-transform: scale(1);
        transform: scale(1.1);
}
.vida{
    
    margin-top: 5px;
    font-size: 50px;
    text-align:center;

}
.vida:hover{
    transform: scale3d(0.8);
    -ms-transform: scale3d(0.8);
    -webkit-transform: scale(1);
	transform: scale(1.1);
    color:var(--error);
    
    /*transform: scale3d(0.8);
    -ms-transform: scale3d(0.8);
    -webkit-transform: scale(1);
    transform: scale(1.1);
    color: var(--error);*/
    
   
}
.nombre{
    margin-top: 80px;
    text-align:center;
}

.nombre:hover{
    transform: scale3d(0.8);
    -ms-transform: scale3d(0.8);
    -webkit-transform: scale(1);
	transform: scale(1.1);
    color:var(--error);
}

/*Parte del grid*/

.grid{
    width: 90%;
    background: var(--cblanco);
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-end: 5;
    grid-auto-rows: 50px;
}
.title{
    grid-column-start: 1;
    grid-column-end: 6;
    background:var(--azul);
    color: var(--cblanco);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;

}
.a, .item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    font-weight: bold;
    font-size: 1.1em;
    margin-left: -50px;
}
.item{
    padding: auto;
    font-size: 0.8em;
    margin-left: -50px;
}


